table.bookit-calendar {
  border: 1px solid #ddd;
  border-collapse: colapse;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  margin: 0;
}

table.bookit-calendar th {
  background: transparent;
  border: 0;
  padding: 5px 10px;
}

table.bookit-calendar td {
  padding: 0;
  border: 1px solid #d5d5d5;
  line-height: 20px;
  height: 20px;
}

table.bookit-calendar tr.editable td.day {
  background-color: #f9f9f9;
  vertical-align: top;
  padding: 0 0 10px;
  cursor: cell;
}

table.bookit-calendar tr.editable td.day > div {
  background: #fff;
  border-bottom: 1px solid #d5d5d5;
}

table.bookit-calendar tr.editable td.day.hover > div,
table.bookit-calendar tr.editable td.day.hover > div {
  background-color: #fff9d4;
}

table.bookit-calendar td.day {
  text-align: center;
}

table.bookit-calendar td.ui-selecting,
table.bookit-calendar td.ui-selected {
  background: #d6f5ff!important;
}

table.bookit-calendar td .form-item {
  padding: 0;
  margin: 0;
  text-align: center;
}

table.bookit-calendar td.title {
  padding: 4px 10px;
  text-align: right;
}

table.bookit-calendar tr.calendar-days td {
  text-align: center;
}

table.bookit-calendar tr.calendar-option td {
  text-transform: uppercase;
  background: #eee;
  font-weight: normal;
  padding: 3px 10px;
}

table.bookit-calendar tr td:last-child {
  border-right: 0;
}

table.bookit-calendar .bookit_status {
  width: 100%;
  height: 100%;
}

table.bookit-calendar .bookit_status td.day a {
  font-size: 0;
  text-indent: -999px;
  background: yellow;
  display: block;
  min-width: 30px;
  height: 30px;
}

table.bookit-calendar .bookit_status td.day a.status-1 {
  background: lime;
}

table.bookit-calendar .bookit_status td.day a.status-0 {
  background: red;
  display: block;
}

div.calendar-navigation {
  margin: 0 0 20px;
}

div.calendar-navigation:after {
  content: "";
  clear: both;
  display: block;
}

a.calendar-previous-month {
  float: left;
}

a.calendar-next-month {
  float: right;
}

.bookit-calendar input.form-autocomplete, .bookit-calendar input.form-text, .bookit-calendar input.form-file, .bookit-calendar textarea.form-textarea, select.form-select {
  border: 0px;
  background: transparent;
  outline: none;
}

.form-wrapper:hover {
  cursor: pointer;
}

table.bookit-calendar .form-wrapper input {
  display: inline-block;
  width: 30px;
  height: 20px;
  text-align: center;
  font-size: 100%;
}

.ui-dialog .ui-dialog-buttonpane button {
  border-radius: 4px;
  display: inline-block;
}

.ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset {
  float: none;
}

.ui-dialog .ui-dialog-buttonpane button {
  padding: 0;
}

#dialog input {
  padding: 10px;
  border: 1px solid #ccc;
}
